.container{
    display: flex;
    flex-direction: row; 
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    height: 800px;
    background-color: yellow;
    justify-content: center;
    align-items: flex-start;
}
.box{
    width: 100px;
    background-color: red;
    /* width: 300px;
    display: inline; */
    height: 100px;

}